.sidebar {
    overflow: hidden;
    position: absolute;
    height: 100%;
    background-color: rgb(67, 67, 205);
    color: white;
    /* padding: 0.2rem 0 0.2rem 0.2rem; */
    margin-top: 0;
}

.submenu {
    width: 15rem;
    height: 2.5rem;
    padding: 0.3rem 0 0.3rem 0;
    font-weight: 300;
    list-style-type: none;
}

.submenu:hover {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 13rem;
    height: 1.5rem;
    background: white;
    border-radius: 0.5rem;
    color: blue;
}

.profile {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}

.name {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
